views/__pycache__/downloaderview.cpython-310.pyc
views/__pycache__/playerview.cpython-310.pyc
views/__pycache__/settingsview.cpython-310.pyc
source/__pycache__/widgets.cpython-310.pyc
app/__pycache__/widgets.cpython-310.pyc
app/__pycache__/mainWindow.cpython-310.pyc
__pycache__/widgets.cpython-310.pyc
__pycache__/mainWindow.cpython-310.pyc
__pycache__/widgets.cpython-310.pyc
test.py
source/__pycache__/tools.cpython-310.pyc
__pycache__/test2.cpython-310.pyc
__pycache__/test3.cpython-310.pyc
app/__pycache__/ddl.cpython-310.pyc
ffmpeg.exe
main.spec
build/main/Analysis-00.toc
build/main/base_library.zip
build/main/EXE-00.toc
build/main/main.exe.manifest
build/main/main.pkg
build/main/PKG-00.toc
build/main/PYZ-00.pyz
build/main/PYZ-00.toc
build/main/Tree-00.toc
build/main/localpycs/struct.pyc
build/main/localpycs/pyimod03_ctypes.pyc
build/main/localpycs/pyimod02_importers.pyc
build/main/localpycs/pyimod01_archive.pyc
build/main/xref-main.html
build/main/warn-main.txt
build/main/Tree-02.toc
build/main/Tree-01.toc
dist/main.exe
